[defaults]
# Путь к твоему списку серверов
inventory = hosts.ini

# Отключаем проверку ключей, чтобы не подтверждать вход вручную
host_key_checking = False

# Автопоиск Python
interpreter_python = auto_silent